@import '../../css/constants.scss'; 
@import '../../css/responsive.scss'; 

.Borrowed {
    @include responsive(desktop, laptop) {
        display: flex;
        flex-direction: column;
        .borrowed-text {
            text-align: center;
            color: $color_white;
        }
        .borrowed-price {
            display: flex;
            flex-direction: row;
            margin: 10px auto 20px auto;
            .price {
                color: $color_white;
                font-size: 50px;
                line-height: 50px;
                font-family: 'Roboto-Medium';
            }
            .usdt {
                color: $color_white;
                font-size: 34px;
                font-family: 'Roboto-Medium';
                margin-left: 10px;
                margin-top: auto;
            }
        }
        .borrowed-detail-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-width: 1200px;
            margin: 0 auto;
            @media screen and (max-width: 1240px) {
                margin: 0 20px;
                min-width: 100px;
            }
            .option-block {
                width: calc(65% - 20px);
                background-color: $color_back_light;
                box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;
                .top-back {
                    background-color: $color_background;
                    height: 60px;
                    width: 100%;
                    z-index: 0;
                }
                img {
                    margin-top: -35px;
                    width: 60px;
                    height: 60px;
                    z-index: 1;
                }
                .balance {
                    margin-top: 10px;
                    margin-bottom: 20px;
                    text-align: center;
                    color: $color_light_text;
                    font-size: 18px;
                    font-family: 'Roboto-Bold';
                }
                .balance-price {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    color: $color_green_light;
                    margin-bottom: 20px;
                    .value {
                        font-family: 'Roboto-Medium';
                        font-size: 38px;
                        line-height: 38px;
                    }
                    .usdt {
                        font-size: 24px;
                        margin-top: auto;
                        margin-left: 10px;
                        font-family: 'Roboto-Medium';
                    }
                }
                .buttons {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 30px;
                    .borrow-button {
                        border: 1px solid $color_green_light;
                        color: $color_white;
                        font-size: 14px;
                        padding: 10px 40px;
                        border-radius: 30px;
                        margin-right: 10px;
                        font-family: 'Roboto-Bold';
                        cursor: pointer;
                    }
                    .withdraw-button {
                        border: 1px solid $color_green_light;
                        background-color: $color_green_light;
                        color: $color_white;
                        font-size: 14px;
                        padding: 10px 40px;
                        border-radius: 30px;
                        margin-right: 20px;
                        font-family: 'Roboto-Bold';
                        cursor: pointer;
                    }
                }
            }
            .apm-block {
                width: calc(35% - 20px);
                margin-top: 60px;
                background-color: $color_back_light;
                box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
                display: flex;
                flex-direction: column;
                justify-content: center;
                .usdt-apm {
                    text-align: center;
                    color: $color_light_text;
                }
                .apm {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 20px;
                    margin-bottom: 15px;
                    .value {
                        color: $color_white;
                        font-size: 38px;
                        font-family: 'Roboto-Bold';
                        line-height: 38px;
                    }
                    .percent {
                        color: $color_white;
                        font-size: 26px;
                        font-family: 'Roboto-Medium';
                        margin-top: auto;
                        margin-left: 10px;

                    }
                }
                .variable-apm {
                    text-align: center;
                    color: $color_grey_light;
                    font-family: 'Roboto-Bold';
                }
            }
        }
        .table-title {
            min-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            @media screen and (max-width: 1240px) {
                margin: 0 20px;
                min-width: 100px;
                margin-top: 30px;
            }
            background-color: $color_background;
            padding: 10px 20px;
            border-bottom: 1px solid $color_back_light;
            .icon {
                color: $color_white;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .title {
                color: $color_white;
                font-family: 'Roboto-Bold';
            }
        }
        .table-header {
            min-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 1240px) {
                margin: 0 20px;
                min-width: 100px;
            }
            background-color: $color_background;
            padding: 10px 30px;
            .cell {
                color: $color_light_text;
                font-size: 12px;
                &.w10 {
                    width: 10%;
                }&.w15 {
                    width: 15%;
                }&.w20 {
                    width: 20%;
                }
            }
        }
        .table-row {
            min-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 1240px) {
                margin: 0 20px;
                min-width: 100px;
            }
            .row {
                display: flex;
                flex-direction: row;
                background-color: $color_back_light;
                padding: 10px 30px 0px 30px;
                &.completed {
                    padding: 15px 30px;
                    border-bottom: 1px solid $color_border;
                }
                &.last {
                    border-bottom: 1px solid $color_back_light;
                    margin-bottom: 50px;
                }
                .cell {
                    color: $color_white;
                    font-size: 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    img {
                        width: 44px;
                    }
                    &.w10 {
                        width: 10%;
                    }&.w15 {
                        width: 15%;
                    }&.w20 {
                        width: 20%;
                    }
                    &.close {
                        border: 1px solid $color_red_border;
                        text-align: center;
                        padding: 5px;
                        width: 100px;
                        border-radius: 30px;
                    }
                }
            }
            .width-text {
                background-color: $color_back_light;
                color: $color_white;
                font-size: 11px;
                text-align: right;
                padding-right: 5px;
                padding-bottom: 2px;
            }
            .bot-border {
                width: 100%;
                height: 5px;
                background-color: $color_border;
                .fill {
                    width: 100%;
                    height: 5px;
                    background-color: $color_green;
                }
            }
        }
    }
    @include responsive(mobile) {
        display: none;
    }
}