@import '../../css/constants.scss'; 
@import '../../css/responsive.scss'; 

.Interest {
    display: flex;
    flex-direction: column;
    .interest-text {
        text-align: center;
        color: $color_white;
    }
    .interest-price {
        display: flex;
        flex-direction: row;
        margin: 10px auto 20px auto;
        @include responsive(mobile) {
            flex-direction: column;
        }
        .usdt-mobile {
            color: $color_white;
            font-size: 26px;
            font-family: 'Roboto-Medium';
            margin-left: 10px;
            text-align: center;
            @include responsive(desktop, laptop) {
                display: none;
            }
        }
        .price {
            color: $color_white;
            font-size: 50px;
            line-height: 50px;
            font-family: 'Roboto-Medium';
            @include responsive(mobile) {
                font-size: 40px;
                line-height: 40px;
            }
        }
        .usdt {
            color: $color_white;
            font-size: 34px;
            font-family: 'Roboto-Medium';
            margin-left: 10px;
            margin-top: auto;
            @include responsive(mobile) {
                display: none;
            }
        }
    }
    .notification {
        position: absolute;
        background-color: $color_back_light;
        display: flex;
        flex-direction: row;
        right: 20px;
        top: 80px;
        .left {
            border-right: 1px solid $color_border;
            .top {
                display: flex;
                flex-direction: row;
                padding: 10px;
                border-bottom: 1px solid $color_border;
                img {
                    width: 24px;
                    height: 24px
                }
                .white-text {
                    font-size: 14px;
                    color: $color_white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 10px;
                }
                .green-text {
                    font-size: 14px;
                    color: $color_green_light;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;
                }
            }
            .bottom {
                padding: 10px 0;
                color: $color_white;
                font-size: 12px;
                text-align: center;
            }
        }
        .right {
            padding: 10px;
            color: $color_light_text;
            margin: auto;
        }
    }
    .interest-detail-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 1200px;
        margin: 0 auto;
        @media screen and (max-width: 1240px) {
            margin: 0 20px;
            min-width: 100px;
        }
        @include responsive(mobile) {
            flex-direction: column;
        }
        .option-block {
            width: calc(33% - 20px);
            background-color: $color_back_light;
            box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            @include responsive(mobile) {
                width: 100%;
            }
            .top-back {
                background-color: $color_background;
                height: 60px;
                width: 100%;
                z-index: 0;
            }
            img {
                margin-top: -35px;
                width: 60px;
                height: 60px;
                z-index: 1;
            }
            .balance {
                margin-top: 10px;
                margin-bottom: 20px;
                text-align: center;
                color: $color_light_text;
                font-size: 18px;
                font-family: 'Roboto-Bold';
            }
            .balance-price {
                display: flex;
                flex-direction: row;
                justify-content: center;
                color: $color_green_light;
                margin-bottom: 20px;
                .value {
                    font-family: 'Roboto-Medium';
                    font-size: 38px;
                    line-height: 38px;
                }
                .usdt {
                    font-size: 24px;
                    margin-top: auto;
                    margin-left: 10px;
                    font-family: 'Roboto-Medium';
                }
            }
            .buttons {
                display: flex;
                flex-direction: row;
                margin-bottom: 30px;
                @include responsive(mobile) {
                    flex-direction: column;
                }
                .borrow-button {
                    border: 1px solid $color_green_light;
                    color: $color_white;
                    font-size: 14px;
                    padding: 10px 40px;
                    border-radius: 30px;
                    margin-right: 10px;
                    @include responsive(mobile) {
                        margin-bottom: 10px;
                        margin-right: 0;
                    }
                    font-family: 'Roboto-Bold';
                    cursor: pointer;
                }
                .withdraw-button {
                    border: 1px solid $color_green_light;
                    background-color: $color_green_light;
                    color: $color_white;
                    font-size: 14px;
                    padding: 10px 40px;
                    border-radius: 30px;
                    font-family: 'Roboto-Bold';
                    cursor: pointer;
                }
            }
        }
        .gas-block {
            width: calc(33% - 20px);
            margin-top: 60px;
            background-color: $color_back_light;
            box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include responsive(mobile) {
                width: 100%;
                margin-top: 0px;
                padding: 20px;
            }
            .gas-text {
                text-align: center;
                color: $color_light_text;
            }
            .month-button {
                display: flex;
                flex-direction: row;
                color: $color_white;
                margin: 15px auto;
                font-size: 12px;
                i {
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                border: 1px solid $color_white;
                padding: 8px 10px;
                border-radius: 15px;
            }
            .balance-price {
                display: flex;
                flex-direction: row;
                justify-content: center;
                color: $color_green_light;
                margin-bottom: 20px;
                .value {
                    font-family: 'Roboto-Medium';
                    font-size: 32px;
                    line-height: 30px;
                }
                .usdt {
                    font-size: 18px;
                    margin-top: auto;
                    margin-left: 5px;
                    font-family: 'Roboto-Medium';
                }
            }
        }
        .apm-block {
            width: calc(33% - 20px);
            margin-top: 60px;
            background-color: $color_back_light;
            box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include responsive(mobile) {
                display: none;
            }
            &.mobile {
                @include responsive(desktop, laptop) {
                    display: none;
                }
                width: 100%;
                margin-top: 0;
                padding: 20px 0;
                display: flex;
                border-top: 1px solid $color_border;
                border-bottom: 1px solid $color_border;
            }
            .usdt-apm {
                text-align: center;
                color: $color_light_text;
            }
            .apm {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 20px;
                margin-bottom: 15px;
                .value {
                    color: $color_white;
                    font-size: 38px;
                    font-family: 'Roboto-Bold';
                    line-height: 38px;
                }
                .percent {
                    color: $color_white;
                    font-size: 26px;
                    font-family: 'Roboto-Medium';
                    margin-top: auto;
                    margin-left: 10px;

                }
            }
            .variable-apm {
                text-align: center;
                color: $color_grey_light;
                font-family: 'Roboto-Bold';
            }
        }
    }
    .table-header {
        min-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        @media screen and (max-width: 1240px) {
            margin: 0 20px;
            min-width: 100px;
            margin-top: 30px;
        }
        background-color: $color_background;
        padding: 10px 30px;
        .cell {
            color: $color_light_text;
            font-size: 12px;
            &.w15 {
                width: 15%;
                @include responsive(mobile) {
                    width: 33%;
                }
            }
            &.w40 {
                width: 40%;
            }
            &.desktop {
                @include responsive(mobile) {
                    display: none;
                }
            }
        }
    }
    .table-row {
        min-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
        @media screen and (max-width: 1240px) {
            margin: 0 20px;
            min-width: 100px;
        }
        .row {
            display: flex;
            flex-direction: row;
            background-color: $color_back_light;
            padding: 20px 30px;
            cursor: pointer;
            border-bottom: 1px solid $color_border;
            &.last {
                border-bottom: 1px solid $color_back_light;
            }
            .cell {
                color: $color_white;
                font-size: 12px;
                display: flex;
                flex-direction: row;
                img {
                    width: 16px;
                    height: 20px;
                    margin-right: 10px;
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &.tid {
                        color: $color_light_text;
                        border-bottom: 1px solid $color_light_text;
                    }
                    &.amount {
                        color: $color_green_light;
                    }
                    &.pending {
                        color: $color_yellow;
                        width: 60px;
                    }
                    &.confirmed {
                        color: $color_green;
                        width: 60px;
                    }
                }
                i {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 10px;
                }
                &.w15 {
                    width: 15%;
                    @include responsive(mobile) {
                        width: 33%;
                    }
                }
                &.w40 {
                    width: 40%;
                }
                &.desktop {
                    @include responsive(mobile) {
                        display: none;
                    }
                }
            }
        }
        .row-detail {
            padding: 20px 150px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $color_grey;
            @include responsive(mobile) {
                flex-direction: column;
                padding: 20px;
            }
            .item {
                &.mobile {
                    @include responsive(desktop, laptop) {
                        display: none;
                    }
                }
                display: flex;
                flex-direction: row;
                @include responsive(mobile) {
                    margin-bottom: 10px;
                }
                .line {
                    width: 1px;
                    margin-right: 10px;
                    background-color: $color_light_text;
                }
                .detail {
                    display: flex;
                    flex-direction: column;
                    .dis {
                        font-size: 10px;
                        color: $color_light_text;
                        margin-bottom: 5px;
                    }
                    .address {
                        color: $color_white;
                        font-size: 12px;
                    }
                    .amount {
                        color: $color_green;
                        font-size: 12px;
                    }
                    .id {
                        font-size: 12px;
                        color: $color_light_text;
                        border-bottom: 1px solid $color_light_text;
                    }
                }
            }
        }
    }
}